body {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: #000;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    padding-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
    background: url("../images/intro.jpg") center no-repeat;
    background-size: cover;
}

.intro__title {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #fff;
}

.intro__title2 {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #fff;
}

.intro__inner {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}

.intro__subtitle {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #fff;
    padding: 5px;
}

/* Nav */

.nav {
    text-transform: uppercase;
}

.nav__link {
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    position: relative;
    color: #ee82ee;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: #dda0dd;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #ff00ff;
}

.nav__link:hover:after {
    opacity: 1;
}

/* Button */

.btn {
    display: inline-block;
    vertical-align: top;
    
    color: #ee82ee;
    text-decoration: none;
    text-transform: uppercase;
    
    font-size: 35px;
    font-weight: 700;
    
    border: 4px solid #fff;
    
    transition: border .1s linear;
    
    padding: 10px 15px;
}

.btn:hover{
    border: 2px solid #ff00ff;
}

/* Section */

.section {
    padding: 80px 0;
}

.section__header {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
    
    text-align: center;
}

.section__suptitle {
    font-size: 48px;
    color: #555;
}

.section__text {
    font-size: 24px;
    color: #333;
}

/* About */

.about {  
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__item {
    width: 33.33333%;
    padding: 0 15px;
}



.about__subtitle {
    text-align: center;
    padding: 0 15px;
}

.about__text {
    width: 100%;
    
    font-size: 16px;
    color: #333;
    font-weight: 700;
    text-align: center;
    
}

.about__img img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Outro */

.outro__intro {
    display: inline-block;
    width: 100%;
    max-height: 80px;
    
    
    background: #000;
    background-size: cover;
}

.outro__subtitle {
    font-size: 22px;
    text-align: center;
    
    color: #666;
}

.outro__tag {
    font-size: 24px;
    text-align: right;
    
    color: #666;
}

@media (max-width: 1230px) {
    
    /* Header */
    
    .header__logo {
        font-size: 20px;
    }
    
    /* Nav */
    
    .nav__link {
        font-size: 18px;
    }
    
    /* Intro */ 
    
    .intro__title {
        font-size: 28px;
    }
    
    .intro__subtitle {
        font-size: 26px;
    }
    
    /* Outro */
    
    .outro__subtitle {
        font-size: 18px;
    }
    
    .outro__tag {
        font-size: 18px;
    }
    
    /* Section */
    
    .section__suptitle {
        font-size: 44px;
    }
    
    .section__text {
        font-size: 22px;
    }
    
    /* About */
    
    .about__text {
        font-size: 16px;
    }
}

@media (max-width: 990px) {
    
    /* Header */
    
    .header__logo {
        font-size: 18px;
    }
    
    /* Nav */
    
    .nav__link {
        font-size: 16px;
    }
    
    /* Intro */ 
    
    .intro__title {
        font-size: 26px;
    }
    
    .intro__subtitle {
        font-size: 24px;
    }
    
    /* Outro */
    
    .outro__subtitle {
        font-size: 18px;
    }
    
    .outro__tag {
        font-size: 16px;
    }
    
    /* Section */
    
    .section__suptitle {
        font-size: 32px;
    }
    
    .section__text {
        font-size: 20px;
    }
    
    /* About */
    
    .about__text {
        font-size: 16px;
    }
}

@media (max-width: 750px) {
    
    /* Outro */
    
    .outro__subtitle {
        font-size: 14px;
    }
    
    .outro__tag {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    
    /* Header */
    
    .header__logo {
        font-size: 16px;
    }
    
    /* Nav */
    
    .nav__link {
        font-size: 14px;
    }
    
    /* Intro */ 
    
    .intro__title {
        font-size: 24px;
    }
    
    .intro__subtitle {
        font-size: 22px;
    }
    
    /* Outro */
    
    .outro__subtitle {
        font-size: 16px;
    }
    
    .outro__tag {
        font-size: 14px;
    }
    
    /* About */ 
    
    .about__text {
        font-size: 16px;
    }
    
    /* Section */
    
    .section__suptitle {
        font-size: 26px;
    }
    
    .section__text {
        font-size: 18px;
    }
    
    /* About */
    
    .about__text {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    
    /* Header */
    
    .header__logo {
        font-size: 14px;
    }
    
    /* Nav */
    
    .nav__link {
        font-size: 12px;
    }
    
    /* Intro */ 
    
    .intro__title {
        font-size: 24px;
    }
    
    .intro__subtitle {
        font-size: 16px;
    }
    
    /* Outro */
    
    .outro__subtitle {
        font-size: 12px;
    }
    
    .outro__tag {
        font-size: 14px;
    }
    
    /* About */ 
    
    .about__text {
        font-size: 14px;
    }
    
    /* Section */
    
    .section__suptitle {
        font-size: 22px;
    }
    
    .section__text {
        font-size: 16px;
    }
    
    /* About */
    
    .about__text {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    
    /* Header */
    
    .header__logo {
        font-size: 12px;
    }
    
    /* Nav */
    
    .nav__link {
        font-size: 10px;
    }
    
    /* Intro */ 
    
    .intro__title {
        font-size: 22px;
    }
    
    .intro__subtitle {
        font-size: 14px;
    }
    
    /* Outro */
    
    .outro__subtitle {
        font-size: 12px;
    }
    
    .outro__tag {
        font-size: 14px;
    }
    
    /* About */ 
    
    .about__text {
        font-size: 12px;
    }
    
    /* Section */
    
    .section__suptitle {
        font-size: 18px;
    }
    
    .section__text {
        font-size: 14px;
    }
    
    /* About */
    
    .about__text {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    
    /* Header */
    
    .header__logo {
        font-size: 10px;
    }
    
    /* Nav */
    
    .nav__link {
        font-size: 8px;
    }
    
    /* Intro */ 
    
    .intro__title {
        font-size: 20px;
    }
    
    .intro__subtitle {
        font-size: 14px;
    }
    
    /* Outro */
    
    .outro__subtitle {
        font-size: 10px;
    }
    
    .outro__tag {
        font-size: 14px;
    }
    
    /* About */
    
    .about__text {
        font-size: 10px;
    }
    
    /* Section */
    
    .section__suptitle {
        font-size: 16px;
    }
    
    .section__text {
        font-size: 12px;
    }
    
    /* About */
    
    .about__text {
        font-size: 8px;
    }
}







